.xui-drag_slider{
     position: relative
    .xui__body--normal{
        .xui__item--normal{
            width:108px
            height: 32px
            background:#ccc
            font-size:$font-size-medium
            font-weight: $font-weight-bold
            text-align:center
            display: inline-block
            line-height: 32px
            margin-right: 1px

        }
    }
    .xui__slider{
        position: absolute;
        top: -6px;
        height: 44px;
        width: 20px;
        background: #ffa500
        .xui__slider__item{
            // width: 2px
            // margin: 0 1px
            // height: 18px
            // background #fff !important
            // text-align: center
        }
    }
}                                                                                                                                                                                                                                        