// 变量命名约定：本体-css属性-特性$border-color-base
// stylus变量可以变为一个表达式列表
$css-prefix= xui-

//基础
$primary-color = #FF8827
$error-color = red
$plain-color = white
$disable-color = #bbb
$transparent-color = transparent
$font-weight-normal = normal
$font-weight-bold = bold
$font-size-normal = 14px
$font-size-small = 12px 
$font-size-medium = 16px
$font-size-big =20px
$font-size-biger = 24px
$font-size-max = 36px
//input
$border-color-base = #999
$border-color-hover = $primary-color
$border-color-active = $primary-color
$border-color-active-shadow = 0 0 1px $primary-color
$border-color-error = $error-color
$input-error-tip-color= $error-color
$label-font-size-normal = $font-size-normal
$label-color-normal = #333
$household-font-size-normal = $font-size-normal
$household-color-normal = #999